.top-nav {
	 padding: 44px 0;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 width: 100%;
	 background-color: white;
}
 .top-nav nav {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 max-width: 980px;
}
 .top-nav nav a {
	 margin-right: 50px;
	 font-size: 18px;
	 font-weight: 700;
	 color: #333;
	 text-transform: uppercase;
	 text-decoration: none;
}
 .top-nav nav a:hover {
	 text-decoration: underline;
}
 .top-nav nav button {
	 margin-left: auto;
	 padding: 15px 40px;
	 font-size: 18px;
	 font-weight: 700;
	 color: white;
	 background: #a8ecff;
	 background: linear-gradient(#a8ecff, #7ee0fd);
	 border: 0;
	 border-radius: 30px;
	 text-transform: uppercase;
	 cursor: pointer;
}
 .top-nav nav button:hover {
	 background: #7ee0fd;
	 background: linear-gradient(#7ee0fd, #a8ecff);
}
 .carousel {
	 position: relative;
	 margin: 200px auto 50px auto;
	 display: block;
	 max-width: 1020px;
}
 .carousel__container {
	 margin: 0 auto 25px;
	 display: block;
	 perspective: 980px;
	 position: relative;
	 max-width: 780px;
	 height: 420px;
}
 .carousel__container img {
	 display: inline-block;
	 width: 100%;
	 max-width: 780px;
	 max-height: 420px;
	 position: absolute;
	 backface-visibility: hidden;
	 border-radius: 20px;
	 box-shadow: -1px 2px 17px 3px rgba(0, 0, 0, 0.3);
	 opacity: 0.4;
	 transition: 0.4s all;
	 cursor: pointer;
}
 .carousel__container img.carousel__container--active {
	 z-index: 4;
	 opacity: 1;
}
 .carousel__container img:hover:not(.carousel__container--active) {
	 opacity: 0.9;
}
 .carousel__arrow {
	 top: 40%;
	 position: absolute;
	 width: 50px;
	 height: 50px;
	 border-radius: 100%;
	 background: white;
	 text-decoration: none;
	 opacity: 0.6;
	 transition: 0.4s all;
	 z-index: 4;
}
 .carousel__arrow:before {
	 top: 2px;
	 left: 2px;
	 content: '';
	 display: inline-block;
	 position: relative;
	 width: 10px;
	 height: 10px;
	 transform: rotate(-45deg);
	 border-style: solid;
	 border-width: 3px 3px 0 0;
	 vertical-align: top;
	 color: #424549;
}
 .carousel__arrow--right {
	 right: 0;
}
 .carousel__arrow--right:before {
	 top: 20px;
	 left: 20px;
	 transform: rotate(45deg);
}
 .carousel__arrow--left:before {
	 top: 20px;
	 left: 20px;
	 transform: rotate(-135deg);
}
 .carousel__arrow:hover {
	 opacity: 1;
}
 .carousel__dot-nav {
	 text-align: center;
}
 .carousel__dot-nav li {
	 margin: 0 5px;
	 display: inline-block;
	 width: 10px;
	 height: 10px;
	 border: 3px solid #7289da;
	 border-radius: 100%;
	 text-indent: 100%;
	 white-space: nowrap;
	 overflow: hidden;
	 cursor: pointer;
	 transition: 0.4s all;
}
 .carousel__dot-nav li:hover {
	 background-color: #7289da;
}
 .carousel__dot-nav--active {
	 background-color: #7289da;
}
