:root {
  --text: white;
  --line: white;
  --line-active: #7289da;
}

.pNordpowl {
  margin: 0;
  color: var(--text);
}
.pNordpowl .aNordpowl {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: inherit;
  margin: 0 var(--spacing, 0px);
  transition: margin 0.25s;
}
.pNordpowl .aNordpowl .svgNordpowl {
  width: 100px;
  height: 50px;
  position: absolute;
  left: 52%;
  bottom: 0;
  transform: translate(-50%, 7px) translateZ(0);
  fill: none;
  stroke: var(--stroke, var(--line));
  stroke-linecap: round;
  stroke-width: 1.5px;
  stroke-dasharray: var(--offset, 69px) 278px;
  stroke-dashoffset: 361px;
  transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.35s;
}
.pNordpowl .aNordpowl:hover {
  --spacing: 4px;
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}
